<div class="row mt-2">
  <div class="col-6">
    <h4>Add new post</h4>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" class="form-control" [(ngModel)]="title"/>
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea name="description" id="description" class="form-control" [(ngModel)]="description"></textarea>
        <button type="submit" class="btn btn-success mt-2">Save</button>
      </div>
    </form>
  </div>
</div>
