<div class="row mt-2" *ngIf="post">
  <div class="col">
    <h4>Post details</h4>
    <div class="post">
      <p> Date created: {{ post.dateCreated }}</p>
      <h3> Title: {{ post.title }}</h3>
      <h5>What was said: {{ post.description }}</h5>
    </div>
    <button class="btn btn-success p-2" (click)="editPost()" [routerLink]="['edit']" >Edit</button>
    <button class="btn btn-danger p-2 ml-2" (click)="deletePost()">Delete</button>
  </div>
</div>
