<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <a routerLink="/" class="navbar-brand">My blog</a>

  <div class="navbar-expand" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/" class="nav-link">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/posts/add" class="nav-link">Add</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/about-us" class="nav-link">About</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/contact" class="nav-link">Contacts</a>
      </li>
    </ul>
  </div>
</nav>
