<div class="card mb-2">
  <div class="card-header">
    Date: {{ post.dateCreated }}
  </div>
  <div class="card-body">
    <h5 class="card-text"> {{ post.title }}</h5>
    <button class="btn btn-dark" [routerLink]="['/','posts', 'post-details', post.id ]">Read details</button>
  </div>
</div>
